h1 {
    color: #f0f;
  }

.flex-container {
  display: flex;
  flex-direction: row;  
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.grow { transition: all .2s ease-in; }

.grow:hover { transform: scale(7); }


p {
  font-family: Roboto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
font-family: 'Roboto', sans-serif;
