h1 {
    color: #f0f;
  }

.flex-container {
  display: flex;
  flex-direction: row;  
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(3); }

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

p {
  font-family: myFirstFont;
}
